@font-face {
    font-family: 'Karla';
    src: url('./../assets/fonts/static/Karla-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./../assets/fonts/static/Karla-Bold.ttf');
    font-weight: bold;
}