.toast {
    display: flex;
    position: fixed;
    top: 25px;
    right: 25px;
    max-width: 300px;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 1023;
    animation: slideInRight 0.3s ease-in-out   forwards 
    , fadeOut 0.5s ease-in-out forwards 3s ;
    transform: translateX(110%);

    height: fit-content;    
    color: hsl(0, 0%, 100%)
}

.toast.closing {
    animation: slideOutRight 0.5s ease-in-out forwards;
}

.toast-progress {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #fff;
    animation: toastProgress 3s ease-in-out forwards;
}

.toast-content-wrapper {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
}

.toast-icon {
    /* padding: .35rem .5rem; */
    font-size: 1.5rem;
    /* color: white; */
    width: 25px;
    height: 25px;
}

.toast-message {
    flex: 1;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.toast-message__title {
    font-weight: 600;
    font-size: 1rem;
}

.toast-message__body {
    line-height: 1.5;
    font-size: .9rem;
}

.toast.toast-success {
    background-color: #95eab8;
}

.toast.toast-success .toast-progress {
    background-color: #2ecc71;
}


.toast.toast-danger {
    background-color: #efaca5;
}

.toast.toast-danger .toast-progress {
    background-color: #e74c3c;
}


.toast.toast-info {
    background-color: #bddaed;
}

.toast.toast-info .toast-progress {
    background-color: #3498db;
}


.toast.toast-warning {
    background-color: #ead994;
}

.toast.toast-warning .toast-progress {
    background-color: #f1c40f;
}


@keyframes slideInRight {
    0% {
        transform: translateX(110%);
    }
    75% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(110%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes toastProgress {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}